html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 9, 27);
    display: flex;
    flex-direction: column;
    
}

.header-banner {
    height: 150px;
    /* border-color: blueviolet; */
    border-bottom: 1px solid rgb(224, 45, 186);
    align-items: center;
    justify-content: center;
    display:flex;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.navbar {
    width:250px;
    border-right: 1px solid rgb(224, 45, 186);
    margin: 0;
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 15px 0px 20px 20px;
    border-bottom: 1px solid rgb(224, 45, 186);
}

.navbar a {
    color: rgb(224, 45, 186);
}

.main-content {
    display:flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: rgb(224, 45, 186);
    margin: 30px;
}

.home-title {
    color: white;
    text-align: center;
    width: fit-content;
}

.home-title:hover h1{
    color:red;
    animation: goofyRotate 0.5s linear infinite;
}

.home-paragraph {
    text-align: center;
    width: fit-content;
}

.footer-banner {
    height: 20px;
    width: 100%;
    background-color: darkblue;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.footer-banner p {
    color: white;
    margin:0;
    animation: scrollingText 15s linear infinite;
}

.scrolltext2 {
    animation-delay: 7.5s;
}

@keyframes goofyRotate {
    0%   { rotate: 0deg  ; color: red   ; }
    25%  { rotate: 90deg ; color: yellow; }
    50%  { rotate: 180deg; color: green ; }
    75%  { rotate: 270deg; color: blue  ; }
    100% { rotate: 360deg; color: purple; }
}

@keyframes scrollingText {
    0%   { transform: translate(0, 0)    ; }
    100% { transform: translate(-100%, 0); }
}