body {
    background-color: chartreuse;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    width: fit-content;
}

.home-title:hover h1{
    color:red;
    animation: goofyRotate 0.5s linear infinite;
}

.home-paragraph {
    text-align: center;
}

@keyframes goofyRotate {
    0%   {rotate: 0deg; color: red;}
    25%  {rotate: 90deg; color: yellow;}
    50%  {rotate: 180deg; color: green;}
    75%  {rotate: 270deg; color: blue;}
    100% {rotate: 360deg; color: purple;}
}