.record-case-outer {
    padding: 20px;
    background-color: aliceblue;
    margin-top: 20px;
    
}

.record-case {
    height: 200px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.all-records {
    animation: recordScroll 2s cubic-bezier(0, 0, 0, 0.8) 1;
    animation-fill-mode: forwards;
}

.record-sleeve {
    height: 200px;
    width: 200px;
    grid-row-start: 1;
    grid-column-start: 1;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
}

.record-stack {
    display: grid;
    justify-content: center;
    
    margin: 0 auto;
    height: 480px;
}

.one {
    margin-top: 0px;
    background-color: pink;
}

.two {
    margin-top: 40px;
    background-color: red;
}

.three {
    margin-top: 80px;
    background-color: orange;
}

.four {
    margin-top: 120px;
    background-color: yellow;
}

.five {
    margin-top: 160px;
    background-color: chartreuse;
}

.six {
    margin-top: 200px;
    background-color: green;
}

.seven {
    margin-top: 240px;
    background-color: turquoise;
}

.eight {
    margin-top: 280px;
    background-color: skyblue;
}

.nine {
    margin-top: 320px;
    background-color: blue;
}

.ten {
    margin-top: 360px;
    background-color: blueviolet;
}

.eleven {
    margin-top: 400px;
    background-color: violet;
}

.twelve {
    margin-top: 440px;
    background-color: hotpink;
}

.thirteen {
    margin-top: 480px;
    background-color: black;
}

@keyframes recordScroll {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, -100%); }
}